<%- include("./header.ejs")  %> 
    <h2>
        Create a secret
    </h2>
    <textarea id ="secretInput"></textarea>
    <p>Expire Time
        <select id ="expireSelect">
            <option value="1">1 hour</option>
            <option value="6">6 hours</option>
            <option value="24">1 day</option>
            <option value="72">3 days</option>
            <option value="168">1 week</option>
        </select>
    </p>
    <p>
        <input id="submitBtn" class="btn" type="submit" value="Submit">
    </p>
    <p class="error"></p>
    <script src="../js/create.js"></script>

<%- include("./footer.ejs")  %> 