<%- include("./header.ejs")  %> 
    <p class="error">
        <%= error %>
    </p>
    <script>
        setTimeout(( ) => {
            window.location.href = "/";
        },2000)
    </script>

<%- include("./footer.ejs")  %> 