<%- include("./header.ejs")  %> 
    <p>
        Create little secrets to be shared with anyone via a one-time-link.
    </p>
    <p>
        There is also an option to protect them with a password.
    </p>
    <p>
        As soon as a secret gets opened, it will be destroyed on our server.
    </p>
    <p>
        <a id="createLink" class="btn" href="/create">Create a secret</a>
    </p>
    <p>All secrets and passwords are encrypted on our server.</p>
    <p>You can check out the code <a class="inline" href="https://github.com/ScriptRaccoon/WhisperNote" target="_blank">here</a>.</p>
<%- include("./footer.ejs")  %> 