<%- include("./header.ejs")  %> 
    <p>
        Create little secrets to be shared with anyone via a one-time-link.
    </p>
    <br>
    <p>
        As soon as a secret gets opened, it will be destroyed.
    </p>
    <br>
    <p>
        <a class="btn" href="/create">Create a secret</a>
    </p>   
<%- include("./footer.ejs")  %> 