<%- include("./header.ejs")  %> 

    <%if (hasPassword) {%>
    <p id="passwordWrapper">
        <span>Password</span>            
        <input type="text" id="passwordInput">
    </p><%}%>

    <input id="showBtn" class="btn" type="button" value="Show secret">

    <p class="error"></p>

    <div id="showSecret" style="display:none">

        <h2>Your secret</h2>
             
        <p id="secretDisplay" class="dashed"></p>
        <p>
            The secret has been destroyed on our server and cannot be opened again.
        </p> 
        <p>
            <input class="btn" id="copyBtn" type="button" value="Copy secret">
        </p>
        <div id="copyInfo">Copied to clipboard!</div>
        
        <p>
            <a id="createLink" class="btn" href="/create">Create another secret</a>
        </p>
    </div>

<script>
    const id = `<%= id %>`;
    const hasPassword = `<%= hasPassword %>`;
</script>
<script src="../js/copy.js"></script>
<script src="./js/secret.js"></script>

<%- include("./footer.ejs")  %> 