<%- include("./header.ejs")  %>
    
    <h2>Your secret</h2>
    <p>
        The secret has been destroyed on the server and cannot be opened again.
    </p>        
    <p id="secretDisplay" class="dashed"><%= content %></p>
    <p>
        <input class="btn" id="copyBtn" type="button" value="Copy secret">
    </p>
    <div id="copyInfo">Copied to clipboard!</div>
    <p>
        <a class="btn" href="/add">Create a new secret</a>
    </p>
    
    <script src="../js/copy.js"></script>
    <script>
        const content = `<%= content %>`;
        enableCopyfunction(content,"#secretDisplay");
    </script>

<%- include("./footer.ejs")  %> 