<%- include("./header.ejs")  %> 

    <input id="showBtn" class="btn" type="button" value="Show secret">

    <p class="error"></p>

    <div id="showSecret" style="display:none">
        <h2>Your secret</h2>
        <p>
            The secret has been destroyed on the server and cannot be opened again.
        </p>        
        <p id="secretDisplay" class="dashed"></p>
        <p>
            <input class="btn" id="copyBtn" type="button" value="Copy secret">
        </p>
        <div id="copyInfo">Copied to clipboard!</div>
        <p>
            <a class="btn" href="/create">Create a new secret</a>
        </p>
    </div>

<script>const id = `<%= id %>`;</script>
<script src="../js/copy.js"></script>
<script src="./js/secret.js"></script>

<%- include("./footer.ejs")  %> 