@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* global stuff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(69, 108, 117);
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #222;
}

/* links */

a {
    text-decoration: none;
    color: inherit;
}

a.inline {
    color: var(--main-color);
}

a.inline:hover {
    text-decoration: underline;
}

#createLink {
    margin: 40px 0px;
}

#homeLink {
    position: absolute;
    top: min(10px, 2vw);
    right: min(10px, 2vw);
    opacity: 0.5;
    font-size: min(20px, 5vw);
    transition: all 120ms linear;
}

#homeLink:hover {
    opacity: 1;
}

/* main */

main {
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 15px 0px 15px;
    text-align: center;
}

/* header */

header {
    background-color: var(--main-color);
    color: white;
    padding: 30px 0px;
    text-align: center;
    box-shadow: 0px 0px 15px var(--main-color);
}

h1 {
    font-size: clamp(25px, 15vw, 60px);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1;
}

h2 {
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.2;
}

/* create page */

#secretInput {
    width: 100%;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    min-height: 200px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    resize: vertical;
    border: 1px solid gray;
    margin-bottom: 10px;
}

#secretInput:focus {
    border: 1px solid black;
}

.btn {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    cursor: pointer;
    margin: 15px;
    border-radius: 4px;
    outline: none;
    transition: opacity 120ms linear;
}

.btn:hover,
.btn:focus {
    opacity: 0.9;
}

#submitBtn {
    margin-top: 30px;
}

#expireSelect {
    margin: 0px 5px;
}

#securityControls {
    text-align: left;
}

#securityControls p {
    margin: 15px 0px;
}

#expireSelect,
#passwordInput {
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 7px;
    border: 1px solid gray;
    background-color: inherit;
    outline: none;
}

#expireSelect:focus,
#passwordInput:focus {
    border: 1px solid black;
}

.error {
    color: red;
}

#passwordInput {
    max-width: 260px;
}

/* created page */

#urlDisplay {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    word-wrap: break-word;
}

.dashed {
    margin: 20px 0px;
    background-color: #eee;
    border: 1px dashed #aaa;
    padding: 20px 30px;
    border-radius: 5px;
    transition: all 100ms linear;
}

.dashed.flash {
    background-color: #ddd;
    border: 1px solid var(--main-color);
}

#copyInfo {
    display: none;
}

#passwordDisplay {
    font-weight: bold;
    font-family: "Source Code Pro", monospace;
}

/* secret page */

#secretDisplay {
    white-space: pre-wrap;
    text-align: left;
    padding: 10px;
    overflow: hidden;
}
